body {
    background-color: #E0E0E0 !important;
}

nav, .FXKA9c {
    background-color: #4b4b4b !important;
}

.BHRAjf.xSP5ic, span.BHRAjf.xSP5ic {
    color: #4b4b4b !important;
    fill: #4b4b4b !important;
}

.mIwOed .IqJTee, span.HDsjVd.dDKhVc, span.YVvGBb.kvxTzd.A6dC2c, span.YVvGBb.rpo4wf {
    color: rgb(225, 225, 225) !important;
}

span.YVvGBb.kvxTzd.A6dC2c:hover {
    text-decoration: none;
}

.cjq2Db, .mIwOed .xSP5ic, .IqJTee {
    color: white !important;
    fill: white !important;
}

a.u2mfde.hN1OOc.EZrbnd.J1raN.VnOHwf-Wvd9Cc.TzZJIf.S6Vdac, a.onkcGd.kj3hr.YVvGBb>div.nk37z.YVvGBb.csjh4b, .onkcGd, .onkcGd:visited, .wy758b, span.KR1He, .DShyMc-MTU3NDI2MDU5NDNa.VnOHwf-Wvd9Cc, .DShyMc-MTU3NDI2MDU5NDNa .VnOHwf-Wvd9Cc, .DShyMc-MTU3NDI2MDU5NDNa.CNpREd .VnOHwf-Wvd9Cc, a.u2mfde.hN1OOc.EZrbnd.GblU6b.VnOHwf-Tvm9db.jgGPR.TzZJIf.S6Vdac, .DShyMc-MTU3NDI2MDU5NDNa.VnOHwf-Tvm9db, .DShyMc-MTU3NDI2MDU5NDNa .VnOHwf-Tvm9db, .DShyMc-MTU3NDI2MDU5NDNa.CNpREd .VnOHwf-Tvm9db, a.onkcGd.kj3hr.YVvGBb>div.YVvGBb.csjh4b, a.u2mfde.hN1OOc.EZrbnd.GblU6b.VnOHwf-Tvm9db.eumXzf.S6Vdac, a.u2mfde.hN1OOc.EZrbnd.J1raN.VnOHwf-Wvd9Cc.S6Vdac, a.gb_z, svg.gb_kf, svg.gb_lf, svg.gb_mf, svg.gb_ja, svg.gb_Ie, svg.gb_Fe, svg.gb_Ke, svg.gb_se, svg.gb_pe, svg.gb_oe, svg.gb_We, svg.gb_Je, .gb_na svg, .gb_Cc svg, .gb_5c .gb_be, .gb_Pc .gb_be, svg.gb_Xe, svg.gb_Ue {
    color: white !important;
    opacity: 1 !important;
}

.DShyMc-MTU3NDI2MDU5NDNa .jgGPR:after, a.u2mfde.hN1OOc.EZrbnd.GblU6b.VnOHwf-Tvm9db.jgGPR.TzZJIf.S6Vdac:after, .hN1OOc.eumXzf:after {
    border-color: white !important;
}

.sdDCme {
    color: rgba(0,0,0,0.549);
}

.VnOHwf-Tvm9db.XjYjO, span.ejBOve {
    color: #4b4b4b !important;
}

tr.d6CWTd.lkqKH.qRU9Ec {
    margin-bottom: 2rem !important;
}

.YM6vpe>.onkcGd {
    background-color: rgb(125, 125, 125) !important;
}

.Aopndd, .mIwOed .d4Fe0d, div.zOtZye.LBlAUc.GWZ7yf.nmFHZb {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    border: 0rem solid #dadce0 !important;
    border-radius: 0.4rem !important;
    -webkit-border-radius: 0.4rem !important;
    background-color: #fff !important;
}

.Aopndd, .Aopndd:hover {
    margin-right: 2.4rem !important;
    margin-left: 0rem !important;
    margin-top: 0rem !important;
}

.mIwOed .YkP8Ob {
    background-color: rgb(230, 230, 230) !important;
}

.gWn3p {
    color: black !important;
}

.YVvGBb.vHZOhb.yIz7Gc.RyJW3c.VnOHwf-Wvd9Cc {
    color: rgba(0, 0, 0, 0.87) !important;
}

html[data-light-ogb="true"] .joJglb, .mIwOed .joJglb {
    border-bottom: 0rem solid #e0e0e0 !important;
}

.mIwOed .H0u2wd {
    -webkit-border-radius: 0.4rem !important;
    border-radius: 0.4rem !important;
}

.onkcGd.YVvGBb.Evt7cb.jp5EVb {
    color: rgba(0, 0, 0, 0.87) !important;
}

a.onkcGd.YVvGBb {
    color: #4285f4 !important;
}

a.onkcGd.kj3hr.YVvGBb>div.YVvGBb, span.YVvGBb.dDKhVc {
    color: #b6b6b6 !important;
}

a.onkcGd.uBUej.zZN2Lb-Wvd9Cc.VBEdtc-Wvd9Cc.eXAISc, a.onkcGd.zZN2Lb-Wvd9Cc.VBEdtc-Wvd9Cc.apFsO, a.onkcGd.rpo4wf.nk37z.zZN2Lb-Wvd9Cc.VBEdtc-Wvd9Cc {
    color: #3c4043 !important;
}

.JDxyrc.xSP5ic {
    color: #5f6368 !important;
    fill: #5f6368 !important;
}